GEMINI_API_KEY=AIzaSyB4gxEaRROMXxYDekrAN4aKpSzTL-YgtuA
# AWS Account 1 (Client - problems simulate cheyyunna account)
AWS_CLIENT_ACCESS_KEY=AKIA************
AWS_CLIENT_SECRET_KEY=wJalr************
AWS_CLIENT_REGION=ap-south-1

# AWS Account 2 (Copilot - ninte tool run cheyyunna account)
AWS_COPILOT_ACCESS_KEY=AKIA************
AWS_COPILOT_SECRET_KEY=wJalr************
AWS_COPILOT_REGION=ap-south-1